<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Pkg.Name }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="go-import" content="{{ .Config.Host }}/{{ .Pkg.Name }} git {{ .Pkg.Repo }}">
    <meta http-equiv="refresh" content="0; url={{ .Pkg.Repo }}">
  </head>
  <body>
    Nothing to see here; <a href="{{ .Pkg.Repo }}">see the code</a>.
  </body>
</html>
